{% extends "base.html" %}

{% block content %}
    <h3>
        Hakkımda
    </h3>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio officia suscipit delectus alias, expedita facere deserunt eaque maxime. Ducimus cupiditate impedit asperiores illo obcaecati tempora iure blanditiis, incidunt voluptate aspernatur?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime fugit illum perferendis iusto, placeat a aliquam, amet nesciunt voluptate voluptatibus fuga eaque ducimus ullam consequatur ad officiis modi animi quibusdam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque libero inventore possimus delectus nostrum officiis culpa quos animi. Obcaecati vel incidunt voluptatem possimus harum adipisci. Provident beatae quos recusandae omnis?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto porro vitae necessitatibus perspiciatis architecto a itaque, veniam provident accusamus optio distinctio suscipit minus fugiat ipsum ratione enim harum autem asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam natus, quibusdam labore aut excepturi et, ut non deserunt odit magni aspernatur ipsa. Esse deleniti, odio tempora repellendus recusandae error sunt.
    </p>
{% end content  %}